<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Calculadora</title>
</head>
<body>
  <h1>Calculadora</h1>

  <!-- Enlace GET enviando parámetros en URL -->
  <a th:href="@{/calculadora(num1=12, num2=6, op='+')}">Calcular 12 + 6</a>
  <br/>
  <a th:href="@{/calculadora(num1=12, num2=6, op='-')}">Calcular 12 - 6</a>
  <br/>
  <a th:href="@{/calculadora(num1=12, num2=6, op='*')}">Calcular 12 * 6</a>
  <br/>
  <a th:href="@{/calculadora(num1=12, num2=6, op='/')}">Calcular 12 / 6</a>
</body>
</html>