<html>
<head>
<title>Welcome Page</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<h1>Welcome to Our Application!</h1>
	<p>This is the welcome page served from the static resources.</p>
	<a href="/estudiante">Pedir datos de estudiante</a>
	<a href="/carreracaballos">Ver carrera de caballos</a>

	<form action="/calculadora/operarpost" method="post">
		<br> <label for="num1">Número 1:</label> <input type="text"
			id="num1" name="num1" required> <br> <label for="num2">Número
			2:</label> <input type="text" id="num2" name="num2"> <br> <label
			for="operacion">Operación:</label> <select id="operacion"
			name="operacion">
			<option value="sumar">Suma</option>
			<option value="restar">Resta</option>
			<option value="multiplicar">Multiplicación</option>
			<option value="dividir">División</option>
		</select> <br> <input type="submit" value="Calcular">
	</form>



</body>
</html>